@page "/productos/configuraciones"
@attribute [Authorize(Roles = "permisos_propietario, permisos_administrador")]


<PageTitle>Productos Configuraciones</PageTitle>

<div class="container-fluid border-bottom mt-3" style="height: 370px;">
    <AdministrarCategorias />
</div>


@code {
   
}
